<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<!--<div style="width: 85%; margin: 0 7.%;">
    <div style="text-align: center; padding-left: 50px;">
        <h3>Догвор №<%= contract.number%></h3>

    <div class="heading">
        <h4>г. Ташкент</h4> <h4>Дата <%= contract.date%></h4>
        <style>
            .heading h4:first-of-type{
                float: left;
            }
            .heading h4:last-of-type{
                float: right
            }
        </style>

        <p>СП ООО «INTERMED INNOVATION», именуемое в дальнейшем «Поставщик», в лице директора Живетина О.Л.,
            действующего на основании Устава, с одной стороны и <%contract.contractor%>, именуемое в дальнейшем «Покупатель»,
            в лице директора "ДОЛЖНО БЫТЬ ИМЯ ДИРЕТОРА ИЗ сustomer". , действующего на основании устава, с другой стороны, в дальнейшем именуемые «Стороны»,
            заключили настоящий Счет-договор <%= contract.number%> (далее – Договор) о нижеследующем:</p>
    </div>
        <div style="text-align: center; padding-left: 50px;">
            <h3>1. ПРЕДМЕТ ДОГОВОРА</h3>
        </div>
        <p> 1.1.	В соответствии с настоящим Договором Поставщик принимает на себя обязательство передать, а Покупатель принять
            и оплатить на условиях настоящего Договора следующий товар (оборудование), согласно нижеуказанной спецификации:</p>


    </div>



</div>-->


<p style="text-align: center;"><strong>Договор № <%= contract.number%></strong></p>

<div class="heading">
    <h4>г. Ташкент</h4> <h4>Дата <%= contract.date%></h4>
    <style>
        .heading h4:first-of-type{
            float: left;
        }
        .heading h4:last-of-type{
            float: right
        }
    </style>
</div>
<br>
<br>
<div class="contractbody">
    <p style="text-align: left;">СП ООО &laquo;INTERMED INNOVATION&raquo;, именуемое в дальнейшем &laquo;Поставщик&raquo;, в лице директора Живетина О.Л.,
        действующего на основании Устава, с одной стороны и <%= contract.contractor%> , именуемое в дальнейшем &laquo;Покупатель&raquo;, в лице <%= contract.customer.directorFullName%>, действующего на основании устава, с
        другой стороны, в дальнейшем именуемые &laquo;Стороны&raquo;, заключили настоящий Счет-договор <%= contract.number%> &nbsp; (далее &ndash; Договор) о нижеследующем:</p>
    <p style="text-align: center;"><strong>1. ПРЕДМЕТ ДОГОВОРА</strong></p>
    <p style="text-align: left;">1.1. &nbsp; &nbsp;В соответствии с настоящим Договором Поставщик принимает на себя обязательство передать, а
        Покупатель принять и оплатить на условиях настоящего Договора следующий товар (оборудование), согласно нижеуказанной спецификации:</p>
    <p style="text-align: left;"><br></p>
    <table style="width: 98%; margin-right: calc(2%);">
        <tbody>
        <tr>
            <td style="width: 7.2673%;">№<br></td>
            <td style="width: 26.066%;">Наименование товара<br></td>
            <td style="width: 16.6667%;">Количество<br></td>
            <td style="width: 16.6667%;">Стоимость за ед.<br></td>
            <td style="width: 16.6667%;">Итоговоая стоимость<br></td>

        </tr>

        <% for(var i=0; i<contract.reservations.length; i++) { %>
            <% var totalPrice = contract.reservations[i].amount * contract.reservations[i].product.sellPrice %>
            <tr>
                <td style="width: 7.2673%;"><%= i+1%><br> </td>
                <td style="width: 26.066%;"><%= contract.reservations[i].product.name %><br></td>
                <td style="width: 16.6667%;"><%= contract.reservations[i].amount %><br></td>
                <td style="width: 16.6667%;"><%= contract.reservations[i].product.sellPrice %><br></td>
                <td style="width: 16.6667%;"><%= totalPrice %><br></td>

            </tr>
        <% } %>

        <!-- <tr>
             <td style="width: 7.2673%;"><br></td>
             <td style="width: 26.066%;"><br></td>
             <td style="width: 16.6667%;"><br></td>
             <td style="width: 16.6667%;"><br></td>
             <td style="width: 16.6667%;"><br></td>
             <td style="width: 16.6666%;"><br></td>
         </tr>-->
        </tbody>
    </table>
    <p style="text-align: left;"><br></p>
    <p style="text-align: center;"><strong>2. ОБЩАЯ СУММА ДОГОВОРА И УСЛОВИЯ ПЛАТЕЖА</strong></p>
    <p style="text-align: left;">2.1. Поставляемый по данному Договору товар (оборудование) оплачивается по договорным ценам.
        Комплектация и стоимость товара (оборудования) определена в процессе переговоров между Поставщиком и Покупателем.<br>
        2.2. Общая сумма Договора на момент его заключения составляет: с учётом НДС. Тара и упаковка входят в цену поставляемого
        товара (оборудования).<br>2.3. За исключением случая изменений, сделанных по взаимному согласию Сторон путём подписания
        дополнительных соглашений, цены, указанные в данном Договоре, являются окончательными.<br>2.4. Оплата стоимости товара
        (оборудования) осуществляется посредством банковского перевода за счет Покупателя на банковский счет Поставщика.<br>2.5.
        Покупатель осуществляет предоплату в размере <%= contract.paymentConditions%>.</p>
    <p style="text-align: center;"><strong>3. ПОРЯДОК И СРОКИ ПОСТАВКИ</strong></p>
    <p>&nbsp;3.1. Поставка товара (оборудования) по настоящему Договору производится со склада Поставщика в г. Ташкенте в течение
        <%= contract.deliveryConditions%> со дня поступления денежных средств (предоплаты) на расчетный счет Поставщика.</p>
    <p>3.2. Условия поставки &ndash; самовывоз. Все расходы, связанные с отправкой и доставкой товаров (оборудования) со склада
        Поставщика до территории Покупателя оплачиваются Покупателем.</p>
    <p>3.3. При получении товара (оборудования) Покупатель в присутствии Поставщика проверяет комплектность, качество и рабочее
        состояние товара (оборудования) и при выявлении несоответствия товара (оборудования) настоящему Договору вправе отказаться
        от её получения.</p>
    <p>3.4. Товар (оборудование) отпускается при предъявлении надлежаще оформленной доверенности в соответствии с законодательством
        и паспорта, удостоверяющего личность получателя.3.5. Прием-передача товара (оборудования) осуществляется по месту ее
        нахождения и считается завершенной после подписания представителем Покупателя соответствующих документов (накладных, счет-фактур).</p>
    <p style="text-align: center;"><strong>&nbsp;</strong><strong>4.&nbsp;КАЧЕСТВО ПОСТАВЛЯЕМОГО ТОВАРА (ОБОРУДОВАНИЯ)</strong></p>
    <p>4.1. Качество и комплектность передаваемого товара (оборудования) должна соответствовать ГОСТу Республики Узбекистан
        (сертификату качества) и иным нормам, предусмотренным для данного товара в Республике Узбекистан.</p>
    <p>&nbsp;4.2. Гарантийный срок эксплуатации поставляемого товара (оборудования) составляет 12 (двенадцать) месяцев со дня
        сдачи товара (оборудования) в эксплуатацию.</p>
    <p>&nbsp;4.3. В случае выявления неисправности поставляемого товара (оборудования) или его части в течение гарантийного
        срока эксплуатации, предусмотренного пунктом 4.2 настоящего Договора, Покупатель обязан немедленно уведомить Поставщика
        о такой претензии в письменном виде. Поставщик должен исправить такое несоответствие своими силами и за свой счет путем
        устранения дефекта частей или части оборудования, или поставкой необходимых для ремонта или замены частей, или поставкой
        нового исправного оборудования.</p>
    <p>&nbsp;4.4. Основанием устранения неисправностей, замены частей оборудования, или поставки нового исправного оборудования
        является дефектный акт, составленный и подписанный Поставщиком и Покупателем.
        2.5. Покупатель осуществляет предоплату в размере &nbsp;100% ,что составляет 140 000 000 (Сто сорок миллионов)&nbsp;
        </span><span style="font-size:15px;">сум 00 тийин&nbsp;</span><span style="font-size:15px;">на расчетный счет
            Поставщика в течение 30 (тридцати) дней со дня подписания настоящего Договора.&nbsp;</span></p>
    <p style="text-align: center;">
        <strong>
            3. ПОРЯДОК И СРОКИ ПОСТАВКИ
        </strong>
    </p>
    <p style="text-align: left;">
        3.1. Поставка товара (оборудования) по настоящему Договору производится со склада Поставщика в г. Ташкенте в
        течение 60 (шестьдесят) дней со дня поступления денежных средств (предоплаты) на расчетный счет Поставщика.
        <br />
        3.2. Условия поставки &ndash; самовывоз. Все расходы, связанные с отправкой и доставкой товаров (оборудования)
        со склада Поставщика до территории Покупателя оплачиваются Покупателем.
        <br />
        3.3. При получении товара (оборудования) Покупатель в присутствии Поставщика проверяет комплектность, качество
        и рабочее состояние товара (оборудования) и при выявлении несоответствия товара (оборудования) настоящему
        Договору вправе отказаться от её получения.
        <br />
        3.4. Товар (оборудование) отпускается при предъявлении надлежаще оформленной доверенности в соответствии с
        законодательством и паспорта, удостоверяющего личность получателя.
        <br />
        3.5. Прием-передача товара (оборудования) осуществляется по месту ее нахождения и считается завершенной
        после подписания представителем Покупателя соответствующих документов (накладных, счет-фактур).
    </p>
    <p style="text-align: left;">
        &nbsp;
    </p>
    <p style="text-align: center;">
        <strong>
            4. КАЧЕСТВО ПОСТАВЛЯЕМОГО ТОВАРА (ОБОРУДОВАНИЯ)
        </strong>
    </p>
    <p style="text-align: left;">
        4.1. Качество и комплектность передаваемого товара (оборудования) должна соответствовать ГОСТу Республики
        Узбекистан (сертификату качества) и иным нормам, предусмотренным для данного товара в Республике Узбекистан.
        <br />
        4.2. Гарантийный срок эксплуатации поставляемого товара (оборудования) составляет 12 (двенадцать) месяцев со
        дня сдачи товара (оборудования) в эксплуатацию.
        <br />
        4.3. В случае выявления неисправности поставляемого товара (оборудования) или его части в течение гарантийного
        срока эксплуатации, предусмотренного пунктом 4.2 настоящего Договора, Покупатель обязан немедленно уведомить
        Поставщика о такой претензии в письменном виде. Поставщик должен исправить такое несоответствие своими силами
        и за свой счет путем устранения дефекта частей или части оборудования, или поставкой необходимых для ремонта
        или замены частей, или поставкой нового исправного оборудования.
        <br />
        4.4. Основанием устранения неисправностей, замены частей оборудования, или поставки нового исправного
        оборудования является дефектный акт, составленный и подписанный Поставщиком и Покупателем.
    </p>
    <p style="text-align: left;">
        &nbsp;
    </p>
    <p style="text-align: center;">
        <strong>
            5. ОТВЕТСТВЕННОСТЬ СТОРОН
        </strong>
    </p>
    <p style="text-align: left;">
        5.1. В случае просрочки поставки, недопоставки товаров (оборудования), Поставщик уплачивает Покупателю пеню в
        размере 0,3% неисполненной части обязательства за каждый день просрочки, но при этом общая сумма пени не
        превышает 50% стоимости недопоставленных товаров (оборудования).
        <br />
        5.2. При несвоевременной оплате поставленных товаров (оборудования) Покупатель уплачивает Поставщику пеню в
        размере 0,3% от суммы просроченного платежа за каждый день просрочки, но не более 50% суммы просроченного платежа.
        <br />
        5.3. Если задержка в осуществлении предоплаты (оплаты) продолжаются более 30 (тридцати) дней, Поставщик имеет
        право расторгнуть настоящий Договор и продать товар (оборудование) третьей стороне. При этом данное расторжение
        не освобождает Покупателя от его обязательства в оплате штрафов и пени.
        <br />
        5.4. За невыборку товаров (оборудования), а также за необоснованный отказ от получения товаров (оборудования)
        Покупатель уплачивает Поставщику штраф в размере 5 процентов стоимости невыбранных (не полученных в срок)
        товаров (оборудования).
        <br />
        5.5. В случае неисполнения или ненадлежащего исполнения договорных обязательств, стороны несут ответственность
        в соответствии с Гражданским Кодексом Республики Узбекистан, Законом Республики Узбекистан &laquo;
        О договорно-правовой базе деятельности хозяйствующих субъектов&raquo;, другим действующим законодательством
        Республики Узбекистан, а также настоящим Договором.
        <br />
        5.6. В случае возникновения разногласий все вопросы решаются путем двухсторонних переговоров, а при не
        достижении взаимного согласия &ndash; в Экономическом суде г. Ташкента в соответствии с требованиями
        действующего законодательства Республики Узбекистан.
        <br />
        5.7. Ответственность за достоверность данных, указанных в документах, предоставляемых Поставщиком, несет Поставщик.
        <br />
        5.8. Ответственность за достоверность данных, указанных в документах, предоставляемых Покупателем, несет Покупатель.
    </p>
    <p style="text-align: left;">
        &nbsp;
    </p>
    <p style="text-align: center;">
        <strong>
            6. ФОРС&ndash;МАЖОР
        </strong>
    </p>
    <p style="text-align: left;">
        6.1. Стороны по настоящему Договору освобождаются от ответственности за полное или частичное неисполнение
        своих обязательств, если такое неисполнение явилось следствием обстоятельств непреодолимой силы &ndash;
        стихийных бедствий: пожаров, наводнений, землетрясений, а также военных действий, либо правительственных мер.
        <br />
        6.2. Сторона, у которой возникли обстоятельства непреодолимой силы, уведомляет другую сторону в 10-дневный
        срок с момента их возникновения с приложением подтверждающего документа уполномоченного органа.
        <br />
        6.3. Если извещение не направлено одной из сторон, другая сторона вправе предъявить возмещение каких-либо
        убытков в связи с неисполнением договорных обязательств.
        <br />
        6.4. Стороны возобновляют действие Договора при прекращении обстоятельств непреодолимой силы.
        <br />
        6.5. Если действие обстоятельств непреодолимой силы продолжается более девяноста (90) дней, любая из
        Сторон имеет право расторгнуть настоящий Договор. Однако такое расторжение не освобождает Стороны от их
        обязательств, действующих до возникновения вышеупомянутых обстоятельств непреодолимой силы.
    </p>
    <p style="text-align: left;">
        &nbsp;
    </p>
    <p style="text-align: center;">
        <strong>
            7. ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ
        </strong>
    </p>
    <p style="text-align: left;">
        7.1. Все споры и разногласия, возникшие между сторонами по настоящему Договору, решаются путем переговоров.
        <br />
        7.2. В случае невозможности урегулирования споров путем переговоров, споры разрешаются в порядке,
        предусмотренном законодательством Республики Узбекистан.
    </p>
    <p style="text-align: left;">
        &nbsp;
    </p>
    <p style="text-align: center;">
        <strong>
            8. ПРОЧИЕ УСЛОВИЯ
        </strong>
    </p>
    <p style="text-align: left;">
        8.1. Всё, что не предусмотрено настоящим Договором стороны руководствуются действующим законодательством
        Республики Узбекистан.
        <br />
        8.2. Ни одна из сторон Договора не может передавать свои права и обязательства, вытекающие из Договора
        или связанные с его исполнением, третьим лицам без письменного на то согласия другой стороны.
        <br />
        8.3. Поставщик не несет ответственности за нарушение правил торговли и финансовые (платежные, расчетные,
        бухгалтерские и др.) нарушения, допущенные Покупателем в процессе реализации или использовании полученного
        товара третьим лицам.
        <br />
        8.4. Все изменения и дополнения к настоящему Договору должны быть оформлены в письменном виде, подписаны
        сторонами и заверены печатями.
        <br />
        8.5. Договор вступает в силу со дня его подписания и действует до 31.12.2020г.
        <br />
        8.6. Настоящий Договор составлен в двух подлинных экземплярах на русском языке, по одному для каждой из
        сторон и имеющих одинаковую юридическую силу.
    </p>
    </p>
    <p style="text-align: center;">
        <strong>
            9. АДРЕСА И БАНКОВСКИЕ РЕКВИЗИТЫ СТОРОН
        </strong>
    </p>

    <table style="width: 552px; float: left;">
        <tbody>
        <tr style="height: 18px;">
            <td style="width: 260.567px; height: 18px; text-align: center;">
                <strong>
                    ПОСТАВЩИК
                </strong>
            </td>
            <td style="width: 292.433px; height: 18px; text-align: center;">
                <strong>
                    ПОКУПАТЕЛЬ
                </strong>
            </td>
        </tr>
        <tr style="height: 280px;">
            <td style="width: 260.567px; height: 280px;">
                СП OOO &laquo;INTERMED INNOVATION&raquo;
                <br />
                <br />
                Адрес: Республика Узбекистан, г. Ташкент,
                <br />
                Юнусабадский район,ул.Чинабад,10А
                <br />
                р. счет: 20 214 000 004 856 445 001
                <br />
                в АТБ &laquo;Узсаноаткурилишбанк&raquo; Шахристон ф-л,
                <br />
                МФО: 00400;
                <br />
                ИНН: 207085382; ОКЭД: 46690,
                <br />
                Код плательщика НДС: 326020019050
                <br />
                <br />
                Телефоны: 8 (371) 150-47-47; факс: 150-47-07.
                <br />
                <br />
                <br />
                Директор _______________ Живетин О.Л.
            </td>
            <td style="width: 292.433px; height: 280px;">
                <p>
                    Наименование: <%= contract.customer.name%>
                </p>
                <p>
                    Адрес: <%= contract.customer.address%>
                </p>
                <p>
                    р.счет: <%= contract.customer.bankAccount%>
                </p>
                <p>
                    Банк: <%= contract.customer.bankName%>
                </p>
                <p>
                    МФО: <%= contract.customer.mfo%>
                </p>
                <p>
                    ИНН: <%= contract.customer.inn%>
                </p>
                <p>
                    ОКЭД: <%= contract.customer.oked%>
                </p>
                <p>
                    Код плательщика НДС:
                </p>
                <p>
                    Телефон: <%= contract.customer.phone%>
                </p>
                <p>
                    Директор___________________ <%= contract.customer.directorFullName%>
                </p>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>

<header>

</header>
</html>
